:root {
    --bg-color-dark: #1f2937;
    --bg-color-cta: #3882f6;
    --bg-color-quote: #e5e7eb;
    --bg-color-button: #3882f6;

    --color-hero-main: #f9faf8;
    --color-hero-secondary: #e5e7eb;
    --color-header-link: #e5e7eb;
    --color-header-logo: #f9faf8;
    --color-header-info: #1f2937;
    --color-quote-text: #1f2937;

    --fs-hero-main: 48px;
    --fw-hero-main: 900;
    
    --fs-hero-secondary: 18px;
    --fw-hero-secondary: 100;

    --fs-header-link: 18px;
    --fw-header-link: 500;

    --fs-header-logo: 24px;
    --fw-header-logo: 500;

    --fs-header-info: 36px;
    --fw-header-info: 900;

    --fs-quote-text: 36px;
    --fw-quote-text: 100;

    --font-family: 'Roboto', sans-serif;

}

body {
    font-family: var(--font-family);
}

.container {
    padding: 10px;
    margin: 0;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-dark);
}

.header-left {
    color: var(--color-header-logo);
    font-size: var(--fs-header-logo);
    font-weight: var(--fw-header-logo);
}

.header-right a {
    text-decoration: none;
    color: var(--color-header-link);
    font-size: var(--fs-header-link);
    font-weight: var(--fw-header-link);
    padding: 10px;
}

.hero {
    background-color: var(--bg-color-dark);
    display: flex;
    justify-content: space-around;
}

.hero img {
    margin-top: 50px;
    width: 500px;
    height: 250px;
}

.hero-left {
    width: 400px;
}

.hero-left h1 {
    color: var(--color-hero-main);
    font-size: var(--fs-hero-main);
    font-weight: var(--fw-hero-main);
    margin-bottom: 0;
}

.hero-left p {
    color: var(--color-hero-secondary);
    font-size: var(--fs-hero-secondary);
    font-weight: var(--fw-hero-secondary);
    margin-top: 0;
}

.hero-left button {
    margin-bottom: 100px;
    padding: 10px 30px;
    background-color: var(--bg-color-button);
    color: var(--color-header-link);
    font-size: 17px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}

.info {
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.info h2 {
    display: flex;
    justify-content: center;
    color: #1f2937;
}

.images-and-texts {
    display: flex;
    padding: 10px 200px;
    gap: 10px;
}

.info-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    text-align: center;
}

.info-image img {
    width: 90px;
    height: 90px;
    border: 3px solid #3882f6;
    border-radius: 10%;
    margin: auto;
    display: block;
}

.info-image p {
    font-weight: 500;
    color: #1f2937;
}

.quote {
    background-color: var(--bg-color-quote);
    color: var(--color-quote-text);
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: var(--fs-quote-text);
    font-weight: var(--fw-quote-text);
    justify-content: center;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 75px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.quote-author {
    padding-left: 800px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 75px;
}

.call-to-action {
    background-color: var(--bg-color-cta);
    color: var(--color-hero-main);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 60px;
    padding: 25px;
    margin-top: 60px;
    margin-left: 200px;
    margin-bottom: 60px;
}

.cta-title {
    font-weight: 500;
}

.cta-text {
    font-weight: 100;
}

.cta-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cta-right button {
    border: 2px solid var(--color-hero-main);
    color: var(--color-hero-main);
    background-color: var(--bg-color-button);
    border-radius: 10%;
    padding: 7px 30px;
    cursor: pointer;
}

